{% load static %}
<link rel="stylesheet" href="{% static 'css1/global.css' %}" />
<link rel="stylesheet" href="{% static 'css1/footer.css' %}" />

<section class="footer">
  <footer class="container">
    <div class="footer-logo">
      <a href="index.html">
        <h1>TnG Clinic</h1>
      </a>
      <span>&#9400;2022. All rights reserved.</span>
    </div>
    <div class="footer-links">
      <a href=""><i class="fas fa-phone-alt"></i>9406935033, 8770391150</a>
    </div>
  </footer>
</section>
